* {
    margin: 0px;
    padding: 0px;
    /* overflow: hidden; */
}


/* nav section */
.nav-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(240, 237, 237);
}

.gamer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamer {
    font-size: 45px;
    font-weight: 700;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: progress;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 210, 210);
    border-radius: 10px;
    width: 180px;
    height: 30px;
}

.menu {
    display: flex;
}

#b {
    padding: 0px 20px;
}

#a {
    color: red;
    padding: 0px 10px;
}

/* nav section end */

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/* banner section start */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box1 {

    background-color: #fff;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;
}

.box2 {}

#imgs {
    max-width: 100%;
}

.play1 {
    color: #0B0223;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

.goat {
    font-size: 50px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.c {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.btn1,
.btn2 {
    padding: 7px 20px;
    border-radius: 15px;
    border: none;
    color: azure;
}

.btn1 {
    background-color: #FF42A5;

}

.btn2 {
    background: #4EC5F7;
}

#imgs {
    width: 400px;
}

/* banner section end */

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/* step1 start We are gamer */
.We-are-gamer {
    background-color: #FFF9FC;
}

.step1-container {
    margin: 0px 160px;
    display: flex;
    justify-content: space-around;
    background-color: #FFF9FC;
}

.step1-box1 {
    max-width: 100%;
}

#pngwing-4 {
    width: 600px;
}

.step1-box2 {
    text-align: end;
}

.step1-line1 {
    font-size: 40px;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.step1-line2 {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.step1-btn {
    background-color: #F948B2;
    width: 150px;
    height: 40px;
    font-size: 20px;
    color: wheat;
    border: none;
    border-radius: 20px;
    margin: 10px 0px;
}

#step1-1 {
    color: gray;
    font-size: 20px;
}

#step1-2 {
    font-size: 25px;
    font-weight: 700;
}

/* step1 start We are gamer */

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/* Online-Games-Funny-Videos start  */
.img-box {
    position: relative;
    display: flex;
    transition: opacity 0.2s ease;
}

.img-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    border-radius: 16px;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.img-box:hover::before {
    opacity: 1;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s ease;
    cursor: pointer;
}

.play-btn .watch-now-text {
    color: #FF42A5;
}

.img-box:hover .play-btn {
    opacity: 1;
}

/* ffffffffffffffffffffffffffffffffffffffffff */
.text{
    font-size: 15x;
    color: rgb(151, 149, 149);
}
.A {
    font-size: small;
    color: rgb(118, 114, 114);
}
.funny-vedio{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-title{
    font-size: 30px;
    font-weight: 700px;
}
.online-games{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}
.Online-Games-Funny-Videos {
    margin-top: 50px;
    text-align: center;
}
.online-game-container{
    margin: 50px 0px;
}

.img-terapi {
    display: flex;
    margin: 0px 150px;
}

.watch-now-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-img {
    width: 250px;
    height: 350px;
    /* padding: 10px; */
    margin: 10px;
    align-items: center;
    
}

.play {
    width: 50%;
    margin-left: 15px;
}

/* Online-Games-Funny-Videos end  */

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/* play instantly start */
.box5-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: end;
    margin: 50px 0px;
}

.box-8 {
    text-align: end;
}

.small {
    display: flex;
    margin-top: -200px;
    margin-right: 450px;
}

#TT {
    max-width: 550px;
}

#tt {
    max-width: 200px;
}

.kk {
    font-size: 40px;
    font-weight: 700;
}

.KK {
    font-size: 15px;
    line-height: 30px;
}

/* play instantly start */

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/* button section */
.boss-container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.box11 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 10px;
    margin: 20px;
    width: 170px;
    height: 60px;
    border-radius: 20px;
    background-color: rgb(228, 223, 223);
}

.box11:hover {
    border: 1px solid red;
}

.container {
    display: flex;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button section */

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */

/* footer section */
.footer-container {
    background-color: #0B0223;
    color: white;
    height: 400px;
    padding-top: 80px;

}

.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mentus {
    margin: 20px 15px;
}

.icon12-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#icuns {
    margin: 20px 15px;
    color: white;
}

.footer1-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mentus1 {
    margin: 15px;
    font-size: small;
}

.byby {
    text-align: center;
    font-size: small;
    margin-top: 50px;
}










/* pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp */
/* ppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp */

@media screen and (max-width:576px) {

    /* nav section */
    .nav-container {
        flex-direction: column;
    }

    .nav-menu {
        flex-direction: column;

    }

    .menu {
        padding: 10px 0px;
    }

    /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
    /* banner section */
    .banner-container {
        flex-direction: column-reverse;
    }

    /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
    /* we are gamer section */
    .step1-container {
        margin: 0px 0px;
        flex-direction: column;
    }

    #pngwing-4 {
        width: 400px;
    }

    .step1-box2 {
        text-align: center;
    }

    /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
    /* Online-Games-Funny-Videos start  */
    .img-terapi{
        flex-direction: column;
    }

    .img-terapi {
        display: flex;
        margin: 0px 100px;
    }
    .main-img {
        width: 200px;
        height: 300px;
        /* padding: 10px; */
        /* margin: 10px; */
        align-items: center;
        
    }
    /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
    /* play instantly start */
    .box5-container {
        flex-direction: column;
        text-align: center;

    }

    .small {
        margin-top: -80px;
        margin-right: 30px;
    }

    #TT {
        max-width: 300px;
    }

    #tt {
        max-width: 80px;
    }

    .kk {
        font-size: 40px;
        font-weight: 700;
    }

    .KK {
        font-size: 15px;
        line-height: 30px;
    }

    /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
    /* button section  */
    .boss-container {
        display: flex;

    }

    .container {
        flex-direction: column;
    }

    .container1 {
        flex-direction: column;
        margin-top: -100px;
    }

    /* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
    /* footer section */
    .footer-menu-container {
        display: grid;
        grid-template-columns: repeat(3, 110px);

    }

    #mentus {
        margin: 5px px;
        font-size: 15px;
    }

    .icon12-container {
        display: grid;
        grid-template-columns: repeat(3, 50px);

    }

    #icuns {
        margin: 20px 0px;
        color: white;
    }

    .footer1-menu-container {
        display: flex;
        margin-left: 5px;
    }

    #mentus1 {
        margin: 0px 0px;
        font-size: 12px;
        margin: 7px;
    }

















}